<div class="container">
  <div>
    <span class="info">
      Enter the email address you used to create your account and we will email you a link to reset your password
    </span>
  </div>
  <form>

    <div class="form-group">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input placeholder="Username/E-mail"></ion-input>
      </ion-item>
    </div>

    <button class="btn-login">
      Send email
      <div class="icon">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </button>

  </form>

</div>