.container {
    background: #f5f6f8;
    height: 100%;
    .top {
        padding: 40px 20px 0px;
        ion-segment {
            ion-segment-button {
                // color: tomato;
                // .ion-color-secondary,
                // &.segment-button-active {
                //     &:active {
                //         color: red;
                //         &.segment-button-checked {
                //             color: green;
                //         }
                //     }
                // }
            }
        }
    }
    .box {
        padding: 20px;
        height: 100%;
    }
    // .bottom {
    //     ion-slides {
    //         height: 100%;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         .box {
    //             padding: 20px;
    //             height: 100%;
    //         }
    //     }
    // }
}
