$icomoon-font-family: "ecomm" !default;
$icomoon-font-path: "fonts" !default;

$icon-veiculo-2: "\e90f";
$icon-baloon: "\e906";
$icon-reservas: "\e90b";
$icon-tab-parceiros: "\e91b";
$icon-user-a: "\e921";
$icon-services: "\e935";
$icon-unidade: "\e946";
$icon-veiculo: "\e94d";
$icon-new-user: "\e94e";
$icon-key: "\e94f";
$icon-folder: "\e950";
$icon-bike: "\e952";
$icon-bk: "\e956";
$icon-menu-a: "\e961";
$icon-wallet: "\e965";
$icon-chat: "\e967";
$icon-classified: "\e968";
$icon-construcao: "\e972";
$icon-correio: "\e97f";
$icon-emprestimo: "\e989";
$icon-enquetes: "\e98b";
$icon-fornecedor-de-hoteis: "\e98c";
$icon-Light-Automation: "\e98e";
$icon-mural: "\e993";
$icon-open-book: "\e998";
$icon-pagar-comdominio: "\e9a1";
$icon-perfil: "\e9a3";
$icon-portaria-2: "\e9a6";
$icon-portaria: "\e9b6";
$icon-credit: "\e9b7";
$icon-doc: "\e9b8";
$icon-dolar: "\e9b9";
$icon-download: "\e9ba";
$icon-grafic: "\e9bb";
$icon-historic: "\e9bc";
$icon-mao: "\e9bd";
$icon-plus: "\e9be";
$icon-copy: "\e9bf";
$icon-square-transparent: "\e9b4";
$icon-square-dark: "\e9b5";
$icon-square-minus: "\e9ab";
$icon-square-menu: "\e9ae";
$icon-lt: "\e9b3";
$icon-br: "\e9b2";
$icon-bc: "\e9b1";
$icon-se: "\e9b0";
$icon-square-phone: "\e9af";
$icon-phone: "\e94c";
$icon-minus-circle: "\e9aa";
$icon-checkbox-checked: "\e922";
$icon-square-closer: "\e9ac";
$icon-times: "\e981";
$icon-times-circle: "\e983";
$icon-info-circle-dark: "\e9ad";
$icon-info-circle: "\e953";
$icon-exclamation: "\e914";
$icon-exclamation-circle: "\e957";
$icon-interrogation-balloon: "\e917";
$icon-interrogation-circle: "\e958";
$icon-alert: "\e903";
$icon-security-check: "\e95d";
$icon-check: "\e92f";
$icon-check-circle: "\e901";
$icon-arrow-down-circle: "\e939";
$icon-arrow-up-circle: "\e941";
$icon-arrow-right-circle: "\e93b";
$icon-arrow-left-circle: "\e93a";
$icon-arrow-down: "\e317";
$icon-arrow-left: "\e318";
$icon-arrow-right: "\e319";
$icon-arrow-up: "\e31a";
$icon-plus-circle: "\e933";
$icon-minus-circle1: "\e15d";
$icon-power: "\e8ac";
$icon-exit-door: "\e94a";
$icon-gateway: "\e949";
$icon-logout: "\e985";
$icon-login: "\e988";
$icon-man-arrows: "\e905";
$icon-hourglass: "\e907";
$icon-trash: "\e91f";
$icon-blocked: "\e920";
$icon-box: "\e908";
$icon-atom: "\e909";
$icon-chart: "\e902";
$icon-chat1: "\e90a";
$icon-checkbox-unchecked: "\e923";
$icon-radio-checked: "\e937";
$icon-radio-unchecked: "\e938";
$icon-confused: "\e943";
$icon-download1: "\e945";
$icon-companies: "\e90c";
$icon-envelope: "\e90d";
$icon-eye: "\e910";
$icon-user-o: "\e966";
$icon-account: "\e932";
$icon-user-group: "\e900";
$icon-badge: "\e990";
$icon-lamp1: "\e912";
$icon-towers: "\e916";
$icon-tower: "\e91d";
$icon-test-tube: "\e91e";
$icon-download-arrow: "\e986";
$icon-upload: "\e964";
$icon-attachment: "\e931";
$icon-robot: "\e929";
$icon-expand: "\e924";
$icon-folder-closer: "\e96e";
$icon-folder-open: "\e927";
$icon-folders: "\e928";
$icon-gallery: "\e92a";
$icon-spanner: "\e973";
$icon-spanner-arrow: "\e904";
$icon-spanners: "\e980";
$icon-gear: "\e93f";
$icon-gears: "\e975";
$icon-gear-spanner: "\e92c";
$icon-form-edit: "\e919";
$icon-form: "\e91c";
$icon-form-location: "\e92d";
$icon-table: "\e970";
$icon-calendar: "\e97c";
$icon-checklist: "\e97e";
$icon-edit: "\e9a5";
$icon-doc-empty: "\e94b";
$icon-doc-filled: "\e91a";
$icon-docs-filled: "\e92e";
$icon-docs-chart: "\e96d";
$icon-doc-money: "\e930";
$icon-doc-checked: "\e936";
$icon-pdf: "\e982";
$icon-log: "\e93c";
$icon-like: "\e93d";
$icon-dislike: "\e9a4";
$icon-recharge: "\e93e";
$icon-spinner: "\e959";
$icon-three-points: "\e984";
$icon-printer: "\e940";
$icon-facebook: "\e942";
$icon-instagram: "\e944";
$icon-camera: "\e976";
$icon-photographic: "\e947";
$icon-link-external: "\e948";
$icon-save: "\e951";
$icon-pencil: "\e954";
$icon-weight: "\e955";
$icon-location: "\e95a";
$icon-lock: "\e95b";
$icon-eye-blocked: "\e98a";
$icon-sound: "\e95c";
$icon-zoom-in: "\e95e";
$icon-zoom-out: "\e95f";
$icon-serach-actions: "\e9a8";
$icon-search: "\e8b6";
$icon-cloud: "\e98d";
$icon-headset: "\e9a7";
$icon-monitor: "\e960";
$icon-notebook: "\e962";
$icon-rede: "\e963";
$icon-site: "\e969";
$icon-smartphone: "\e96a";
$icon-wifi: "\e96b";
$icon-calculator: "\e96f";
$icon-calendar1: "\e98f";
$icon-newspaper: "\e992";
$icon-chart-pizza: "\e991";
$icon-megaphone: "\e971";
$icon-organograma: "\e974";
$icon-etapas: "\e90e";
$icon-play: "\e977";
$icon-panel-solar: "\e995";
$icon-drums: "\e979";
$icon-raio: "\e994";
$icon-cataventos: "\e97a";
$icon-fire: "\e97d";
$icon-helmet: "\e9a9";
$icon-balance: "\e987";
$icon-gavel: "\e9c0";
$icon-plant: "\e9c1";
$icon-hand-plant: "\e97b";
$icon-medidor: "\e978";
$icon-reciclagem: "\e9c2";
$icon-spark: "\e9c3";
$icon-doc-report: "\e996";
$icon-status: "\e997";
$icon-gota: "\e999";
$icon-star: "\e99a";
$icon-heart: "\e99b";
$icon-excel: "\e99c";
$icon-doc1: "\e99d";
$icon-word: "\e99e";
$icon-menu: "\e99f";
$icon-lamp: "\e9a0";
$icon-power-plug: "\e9a2";
$icon-home: "\e9c5";
$icon-mic: "\e9c6";
$icon-location1: "\e9d2";
$icon-newspaper-new: "\e9d1";
$icon-dog-new: "\e9d0";
$icon-logo: "\e9d5";
$icon-dog-paw: "\e911";
$icon-share: "\e913";
$icon-dog-happy: "\e915";
$icon-plus1: "\e9d6";
$icon-flag: "\e918";
$icon-image: "\e9d3";
$icon-photo: "\e9d4";
$icon-dog-plus: "\e9ce";
$icon-campaign-new: "\e9cf";
$icon-settings-new: "\e926";
$icon-arrow-top-circle: "\e925";
$icon-bone: "\e9c4";
$icon-newsppaper1: "\e9c7";
$icon-campaign: "\e96c";
$icon-facebook1: "\e92b";
$icon-padlock: "\e9c8";
$icon-check1: "\e934";
$icon-arrow-up-circle1: "\e9cb";
$icon-gear1: "\e9cc";
$icon-bell: "\e9ca";
$icon-newsppaper: "\e9c9";
$icon-dog: "\e9cd";

