<ion-content [fullscreen]="true" class="ion-padding">

  <!-- <div class="header">
    <div class="icons">
      <div class="icon">
        <ion-icon name="chatbubble-outline"></ion-icon>
        <div class="notifications">6</div>
      </div>
      <div class="icon">
        <ion-icon name="notifications-outline"></ion-icon>
        <div class="notifications">6</div>
      </div>
    </div>
  </div> -->

  <app-header></app-header>

  <div class="container">
    <div class="categories">
      <h1>Categories</h1>

      <div class="slide-categories">
        <div class="slide-item">
          <div class="icone red"></div>
          <div class="title">Apparel</div>
        </div>

        <div class="slide-item">
          <div class="icone blue"></div>
          <div class="title">Beauty</div>
        </div>

        <div class="slide-item">
          <div class="icone green"></div>
          <div class="title">Shoes</div>
        </div>

        <div class="slide-item-all" (click)="toCategories()">
          <div class="icone shell-all">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
          <div class="title">shell all</div>
        </div>
      </div>
    </div>

    <div class="latest">
      <h1>Latest</h1>


      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of list">
          <div class="card" style="background-image: url('/assets/base.png');">
            <div class="card-description">
              For all your
              summer clothing
              needs
            </div>
            <div class="card-actions">
              <button type="button" class="card-button">
                See More
                <div class="icon">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
              </button>
            </div>
          </div>
        </ion-slide>
      </ion-slides>







      <div class="products">
        <div class="product">
          <div class="img">
            <img src="assets/salto.png" alt="">
          </div>
          <div class="details">
            <div class="title">
              Ankle Boots
            </div>
            <div class="price">
              $49.99
            </div>
          </div>
        </div>
        <div class="product">
          <div class="img">
            <img src="assets/bolsa.png" alt="">
          </div>
          <div class="details">
            <div class="title">
              Backpack
            </div>
            <div class="price">
              $20.58
            </div>
          </div>
        </div>
        <div class="product">
          <div class="img">
            <img src="assets/cachecol.png" alt="">
          </div>
          <div class="details">
            <div class="title">
              Red Scarf
            </div>
            <div class="price">
              $11.00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>