<div class="container">
  <form>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>

    <button class="btn-login">
      Sign up
      <div class="icon">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </button>

  </form>
  <p>
    By creating an account, you agree to our <strong>Terms of Service</strong> and <strong>Privacy Policy</strong>
  </p>
</div>